*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flags{
    display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  gap: 20px;
}


.flag{
    width: 300px;
    height: 200px;
    margin-bottom: 20px;
    border: 1px solid #000;
    position: relative;
}

.ukraine {
  background: linear-gradient(to bottom, 
    #0057b7 0%, #0072ce 50%, 
    #ffd700 50%, #ffdc00 100%);
}

.japan{
    background-color: white;
}
.japan-circle{
    width: 100px;
    height: 100px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

